body  
{  
    font-family: 'Arial'; 
    background-color:gray; 
    text-align: center;
}  
.login{  
        width: 300px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 300px;  
        padding: 20px;  
        background:lightgray; 
        border-radius: 10px ;  
          
}
.left {
      float:left;
      width: 70px;
      margin: 0;
      padding: 1em;
    }

 

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li a {
      display: block;
      color: #000;
      padding: 10px;
      text-decoration: none;
    }

    li a.active {
      background-color: teal;
      color:white;
    }
h1{  
    text-align: center;  
    color: white;  
    padding: 0px;  
}
h3{
    text-align:left;
}
  
label{  
    color: black;  
    font-size: 20px;  
}  
button{  
    background-color:black;
    width: 300px;  
    height: 35px;  
    border-radius: 10px;  
    padding-bottom:0px;   
    color: white;  
}  